{% load i18n %}
{% load avatar_tags %}
<div class="profile_info">
    </br>
    {% if is_me %}
    {% avatar user 70 %} &nbsp; &nbsp;  <a href="/avatar/change/" class="btn btn-primary"> <i class="icon-share-alt icon-white"></i> &nbsp; Change Picture</a></p> 
    {% else %} 
    {% avatar user 70 %}
    {% endif %}
    </br>
    </br>
    {% if profile.name %}<p><b>{% trans "Name" %}</b>: {{ profile.name }}</p>{% endif %}
    {% if profile.about %}<p><b>{% trans "About" %}</b>: {{ profile.about }}</p>{% endif %}
    {% if profile.location %}<p><b>{% trans "Location" %}</b>: {{ profile.location }}</p>{% endif %}
    {% if profile.website %}<p><b>{% trans "Website" %}</b>: <a href="{{ profile.website }}">{{ profile.website }}</a></p>{% endif %}
    <br/>
    {% if not is_me %}
    <a href="/infocomp/user_comp/{{ profile.id }}" class="btn btn-primary"> <i class="icon-share-alt icon-white"></i> &nbsp; Info Composition by {{ profile.user }}</a></p> 
    {% endif %}   
</div>
