{% extends 'friends/base.html' %}
{% load friends_tags %}
{% load avatar_tags %}

{% block friends_title %}{{ friend }}'s friends {% endblock %}

{% block friends_content %}
<div style="text-align:center">
<ul>
{% for friend in friends %}
	{% are_friends user friend as are_friends %}
	
	<li>{% avatar friend 70 %} &nbsp; <a href="{% url profile_detail username=friend.username %}">{{ friend }}</a> &nbsp; {% if are_friends %}<a href="{% url friends_remove friend.username %}" class="btn btn-danger"> <i class="icon-remove icon-white"></i> &nbsp;Remove from friends</a>{% else %}<a href="{% url friends_invite friend.username %}" class="btn btn-primary"> <i class="icon-plus icon-white"></i> &nbsp; Add as friend</a>{% endif %}</li>
	<br/>
{% endfor %}
</ul>
</div>
{% endblock %}