{% extends "subnav_base.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}{{ username }}{% endblock %}

{% block body_class %}Home{% endblock %}

{% block extra_style %}
<style>
.tag-cloud {
margin: 0;
padding: 0;
text-align: left;
width: 100%;
position: relative;
padding-top: 15em;



}
</style>
{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul class="nav nav-pills nav-stacked">
            
            <li><a href="{% url "profile_detail" user.username %}"  > <i class="icon-th-large"></i> &nbsp; {% trans "Profile" %}</a></li>
           
            <li> <a href="/account/email/">  <i class="icon-user"></i> &nbsp;  {% trans "Account" %}</a></li> 
           
            <li><a href="/notices/" > <i class="icon-flag"></i> &nbsp; {% trans "Notifications" %}</a></li>
            
            <li><a href="{% url "addinfocomp" %}" > <i class="icon-film"></i> &nbsp; {% trans "Info Comp" %}</a></li>
            
            <li><a href="/friends/" > <i class="icon-plane"></i> &nbsp; {% trans "Friends" %}</a></li>
            
            <li><a href="/messages/" > <i class="icon-envelope"></i> &nbsp; {% trans "Messages" %}</a></li>
            
            <li><a href="/avatar/change/"  > <i class="icon-picture"></i> &nbsp; {% trans "Display Picture" %}</a></li>
         
        </ul>
    
    {% endif %}
{% endblock %}

{% block body %}
<div style="text-align:left">
    <p> 
      <h2> Welcome, {{ username }} </h2>
     </p>   
    </div>
    
<div class="tag-cloud">    
{% for tag in tags.tagcloud %}
<font style="font-size: {{ tag.size }}em;"><a href="/ic/tags/{{ tag.tag }}">{{ tag.tag }}</a></font>
&nbsp;
{% if forloop.counter|divisibleby:"5" %}
<br/>
<br/>
{% endif %}
{% endfor %}
</div>


{% endblock %}



