{% extends "subnav_base.html" %}

{% load i18n %}
{% load url from future %}

{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" title="Notices Feed" href="{% url "notification_feed_for_user" %}" />
{% endblock %}

{% block body_class %}notices{% endblock %}

{% block subnav %}
    <ul class="nav nav-pills nav-stacked">
        <li class="nav-header">{% trans "Notices" %}</li>
        <li><a href="{% url "notification_notices" %}"><i class="icon-flag"></i> &nbsp;{% trans "Notices" %}</a></li>
        <li><a href="{% url "notification_notice_settings" %}"><i class="icon-wrench"></i> &nbsp;{% trans "Settings" %}</a></li>
    </ul>
{% endblock %}
