{% extends "subnav_base.html" %}

{% load url from future %}


{% block subnav %}
    {% if user.is_authenticated %}
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-header"> Information Composition </li>
            <li><a href="{% url "addinfocomp" %}">Add</a></li>
            <li><a href="{% url "mylistcomp" %}">By You</a></li>
            <li><a href="{% url "publiclist" %}">Public</a></li>
            
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}
