{% extends 'infocomposition/base.html' %}

{% load infocomposition_tags %}

{% block head_title %} By {{ user.username }}{% endblock %}


{% block body %}

<table class="table table-condensed">
	<thead>
		<tr>
			<th> Name </th>
			<th> Thumbnail </th>
			<th> Description </th>
			<th> Download </th>
			<th> Delete </th>
		
		</tr>
	</thead>
	<tbody>{% for infocomp in infocomps %}
	
		<tr>
			<td>
				<a href="{% get_html_path infocomp.user_id infocomp.pk %}">{{ infocomp.name }}</a>
			</td>
			<td>
			         
		       <a href="{% get_html_path infocomp.user_id infocomp.pk %}"><img border="0" alt="" src="{% media_url %}/{{ infocomp.thumbnail }}" width="150" /></a>
			         
			</td>
			<td>
				{{ infocomp.description }}
			</td>
			<td>
		        <a href="{% url download pk=infocomp.pk %}" class="btn btn-success"> <i class="icon-download-alt icon-white"></i> &nbsp; Download </a>
			</td>
			<td>
		        <a href="{% url delete pk=infocomp.pk %}" class="btn btn-danger"> <i class="icon-remove icon-white"></i> &nbsp; Delete </a>
			</td>
			
		</tr>{% endfor %}
		
	</tbody>
</table>


{% endblock %}

