{% extends 'infocomposition/base.html' %}

{% load infocomposition_tags %}
{% load pagination_tags %}
{% block head_title %} Tag - {{ tagname }} {% endblock %}


{% block body %}

<h2> Information Compositions that has tag {{ tagname }} </h2>
<br/>
<table class="table table-striped">
	<thead>
		<tr>
			<th> Name </th>
			<th> By User </th>
			<th> Thumbnail </th>
			<th> Description </th>
			<th> All Tags </th>
		
		</tr>
	</thead>
	{% autopaginate infocomps 10 %}
	<tbody>{% for infocomp in infocomps %}
	  
		<tr>
			<td>
			    <a href="{% url compage hash_key=infocomp.hash_key %}">{{ infocomp.name }}</a>
			</td>
			<td>
			      
			<a href="{% url profile_detail infocomp.get_user_name %}" >{{ infocomp.get_user_name }}</a>
			       
			</td>
			<td>
              <img border="0" alt="" src="{% media_url %}/{{ infocomp.thumbnail }}" width="120" />
			</td>
			<td>
		           {{ infocomp.description }}
			</td>
			<td>
			
			{% for tag in infocomp.tags.all %}
		       <a href="{% url tagsrl tag %}" >{{ tag }}</a>
		       {% if not forloop.last %}
		       ,  
		       {% endif %}
		       {% endfor %}
           
			</td>
			
		</tr>{% endfor %}
         {% paginate %}
		
		
	</tbody>
</table>


{% endblock %}

